
# Ignore everything
*

# Don't ignore these files
# bash
!.bash_aliases
!.bashrc
# git
!.gitignore
!.gitconfig
# nvim
!.config/nvim/init.vim
!.config/nvim/buildvim.sh
!.config/nvim/resources
!.config/nvim/sources
!.config/nvim/templates
# emacs
!.emacs.d/init.el
# i3
!.config/i3/config
!.config/i3/launchpoly.sh
!.config/polybar/config
!.config/dunstrc
!.config/compton.conf
# st
!.config/st/config.h
# redshift
!.config/redshift.conf
# newsbeuter
!.config/newsbeuter

