
source ~/.vim/settings/core.vim

noremap <C-w>q :q<Cr>
noremap <leader>l A;<Esc>

nnoremap <leader>s source ~/.ideavimrc<cr>

" Won't work in visual mode (with vmap) for some reason.
" Use default map of <c-/> for that.
nmap gcc :action CommentByLineComment<cr>


nmap <leader>g	:action GotoDeclaration<cr>
nmap <leader>t	:action GotoFile<cr>
nmap <leader>c	:action GotoClass<cr>
nmap <leader>d	:action ShowErrorDescription<cr>

map <leader>bb	:action ToggleTemporaryLineBreakpoint<CR>

map <C-w><Space> :action MoveEditorToOppositeTabGroup<cr>
